@model TrabalhoWebFinaLII.Models.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalhes Produto";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Produto</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Fornecedor.NomeFornecedor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fornecedor.NomeFornecedor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Loja.NomeLoja)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Loja.NomeLoja)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProdutoId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
