@model IEnumerable<TrabalhoWebFinaLII.Models.Produto>

@{ Layout = "~/Views/Shared/_Layout.cshtml";
                ViewBag.Title = "Produto"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicial</title>
</head>
<body>
    <p>
        @Html.ActionLink("Novo Produto", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor.NomeFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loja.NomeLoja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Fornecedor.NomeFornecedor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Loja.NomeLoja)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.ProdutoId }) |
        @Html.ActionLink("Detalhar", "Details", new { id = item.ProdutoId }) |
        @Html.ActionLink("Excluir", "Delete", new { id = item.ProdutoId })
    </td>
</tr>}

    </table>
</body>
</html>
