@model IEnumerable<TrabalhoWebFinaLII.Models.Loja>


@{ Layout = "~/Views/Shared/_Layout.cshtml";
                ViewBag.Title = "Cadastro de Nova Loja"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicial</title>
</head>
<body>
    <p>
        @Html.ActionLink("Criar uma nova Loja", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeLoja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atividade)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NomeLoja)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descricao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cnpj)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Telefone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RazaoSocial)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Atividade)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.LojaId }) |
        @Html.ActionLink("Detalhar", "Details", new { id = item.LojaId }) |
        @Html.ActionLink("Excluir", "Delete", new { id = item.LojaId })
    </td>
</tr>}

    </table>
</body>
</html>
